#layout {
  postition: relative;
  padding-left: 0;
}

.content {
    margin: 0 auto;
    padding: 0 2em;
    max-width: 960px;
    margin-bottom: 50px;
    line-height: 1.6em;
}

  .content h1,h2,h3,h4 {
    font-weight: 500;
  }



.header {
     margin: 0;
     color: #333;
     text-align: center;
     padding: 2.5em 2em 0;
     border-bottom: 1px solid #eee;
 }
    .header h1 {
        margin: 0.2em 0;
        font-size: 3em;
        font-weight: 300;
    }
     .header h2 {
        font-weight: 300;
        color: #ccc;
        padding: 0;
        margin-top: 0;
    }
    .header a {
      text-decoration: none;
      color: #333;
    }

#navigation {
  max-width: 960px; /** Same as Page Content **/
  margin: 0 auto;
}

#notifications {
}

#notifications ul {
  list-style-type: none;
  padding: 1em;
  margin: 0em;
}

/** Page speciic styles **/

/** Recipe Views **/
li.ingredient .quantity {
  color: #777;
}
