{% extends "layout.html.jinja2" %}

{% block content %}
<h2>Home</h2>

<p><a href="{{ url_for('recipes') }}">Recipes</a></p>
<p><a href="{{ url_for('all_ingredients') }}">Ingredients</a></p>

{% endblock %}

