{% extends "layout.html.jinja2" %}

{% block content %}
<form action="/ingredients" method="post">
  <div>
    <label>Name: 
      <input name="name" required minlength="2">
    </label>
  </div>
  <div>
    <input type="submit" value="Create">
  </div>
</form>
{% endblock %}
