{% extends "layout.html.jinja2" %}

{% block content %}
<h2>{{ name }}</h2>

<h3>Recipes</h3>

<ul>
{% for recipe in recipes %}
  <li class="recipe_name">
    <a href="{{ url_for('get_recipe', recipe_id=recipe.name) }}">{{ recipe.name }}</a>
  </li>
{% endfor %}
</ul>

{% endblock %}
