{% extends "layout.html.jinja2" %}

{% block content %}
<h2>Ingredients</h2>

<h3>All Ingredients</h3>
<ul>
{% for ingredient in ingredients %}
    <li class="ingredient_name">
        <a href="{{ url_for('get_ingredient', ingredient_id=ingredient.name) }}">{{ ingredient.name }}</a>
    </li> 
{% endfor %}
</ul>

<h3>Your Ingredients</h3>

<p>TODO</p>

<h3>Create</h3>

<p>
  <a href="{{ url_for('create_ingredient') }}">Create a new ingredient</a>
</p>
{% endblock %}
