<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>What's Cooking</title>
        <meta name="description" content="Sorting out a weekly shop can be easier">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        {% assets "css_all" %}
        <link rel="stylesheet" href={{ ASSET_URL }}>
        {% endassets %}

        <script src="{{ url_for(
            'static', 
            filename='js/vendor/modernizr-2.8.3-respond-1.4.2.min.js'
        ) }}"></script>
    </head>
    <body>
      <div id="layout">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="header">
          <h1><a href="/">What's Cooking</a></h1>
        </div>

        <div id="navigation" class="pure-g">
          <div id="nav-menu" class="pure-u">
            <!-- TODO: Create a Menu -->
          </div>
          <div id="nav-login" class="pure-u">
            {% if current_user.is_authenticated %}
              <a href="{{ url_for('logout')}}">
                Log Out
              </a>
            {% else %}
              <a href="{{ url_for('login') }}">
                Log In
              </a>
            {% endif %}
          </div>

        </div>

        <div class="content">
          {% with messages = get_flashed_messages() %}
            {% if messages %}
              <div id="notifications">
                <ul class=flashes>
                {% for message in messages %}
                  <li class="pure-alert">{{ message }}</li>
                {% endfor %}
                </ul>
              </div>
            {% endif %}
          {% endwith %}

          {% block content %}{% endblock %}
        </div>

      </div>
      <script src={{ url_for(
          'static', 
          filename='js/main.js'
      ) }}></script>
    </body>
</html>
