{% extends "layout.html.jinja2" %}

{% block content %}
<h2>Login</h2>
<form method="POST" class="login pure-form pure-form-stacked" action="/login">
    {{ form.csrf_token }}
    {{ form.next }}
    <div class="pure-control-group">
      {{ form.name.label('Username') }} {{ form.name(size=32,placeholder='Username') }}
    </div>
    <div class="pure-control-group">
      {{ form.password.label('Password') }} {{ form.password(size=32,placeholder='Password') }}
    </div>
    <input type="submit" class="pure-button pure-button-primary" value="Login">
</form>

<div>
  <p>
    Don't have a login?
    <a href="{{url_for('signup')}}">Sign up</a>.
  </p>
</div>

{% endblock %}
