{% extends "layout.html.jinja2" %}

{% block content %}
<h2>Recipes</h2>

<h3>All Recipes</h3>
<ul>
{% for recipe in recipes %}
    <li class="recipe_name">
        <a href="{{ url_for('get_recipe', recipe_id=recipe.name) }}">{{ recipe.name }}</a>
    </li> 
{% endfor %}
</ul>

<h3>Your Recipes</h3>

<p>TODO</p>

<h3>Create</h3>

<p>
  <a href="{{ url_for('create_recipe_page') }}">Create a new recipe</a>
</p>
{% endblock %}
