{% extends "layout.html.jinja2" %}

{% block content %}
  
  <form 
    class="pure-form pure-form-stacked" 
    action="/recipes{% if recipe_id %}/{{ recipe_id }}{% endif %}"
    method="post"
  >
  <div>
    <label>Name: 
      <input name="name" {% if name %}disabled{% endif %} minlength="2" value="{{ name }}">
    </label>
  </div>
  <div>
    {% if ingredients|length == 0 %}
    <label>Ingredients:
      <textarea name="ingredients" required></textarea>
    </label>
    {% else %}
    <fieldset>
      <legend>Ingredients</legend>

      {% for i in ingredients %}

        <fieldset>
          <legend>
            {{ i.name }}
          </legend>
          <div class="pure-control-group">
            <label>Quantity:
              <input name="quantity" placeholder="0g">
            </label>
          </div>

          <div class="pure-control-group">
            <label>Ingredient:
              <input name="ingredient" value="{{ i.name }}" disabled>
            </label>
          </div>
        </fieldset>

      {% endfor %}

    </fieldset>
    {% endif %}
  </div>
  <div>
    <input type="submit" value="Create">
  </div>
</form>
{% endblock %}
