{% extends "layout.html.jinja2" %}

{% block content %}
  <h1>Editing {{ name }}</h1>

  <h2>Ingredients</h2>
  {% for i in ingredients %}
    <form 
      class="pure-form" 
      action="{{ url_for('update_recipe_ingredient', recipe_id=recipe_id, ingredient_id=i.id) }}"
      method="post"
    >

      <div class="pure-control-group">
        <label>Quantity:
          <input name="quantity" placeholder="0g"
            value={{ ingredients_extras[i.id | string] }}>
        </label>
      </div>

      <div class="pure-control-group">
        <label>Ingredient:
          <input name="ingredient" value="{{ i.name }}" disabled>
        </label>
      </div>

      <div>
        <input type="submit" value="Edit">
      </div>
    </form>
  {% endfor %}


  <div class="edit controls">
    <a class="pure-button" href="{{ url_for('get_recipe', recipe_id=name) }}">Done</a>
  </div>

{% endblock %}
