{% extends "layout.html.jinja2" %}

{% block content %}
<h2>{{ name }}</h2>

<div class="controls">

  <div class="control edit">
    <a href="{{ url_for('edit_recipe', recipe_id=recipe_id) }}">Edit</a>
  </div>
</div>

<h3>Ingredients</h3>

<ul>
{% for i in ingredients %}
  <li class="ingredient">
    <span class="quantity">{{ ingredients_extras[i.id | string] }}</span>
    <span class="name">{{ i.name }}</span>
  </li>
{% endfor %}
</ul>

<h3>Instructions</h3>

<ol>
{% for i in instructions %}
  <li class="instruction_description">{{ i }}</li>
{% endfor %}
</ol>

{% endblock %}
