{% extends "layout.html.jinja2" %}

{% block content %}
<h2>Signup</h2>
<form method="POST" class="signup pure-form pure-form-stacked" action="/signup">
    {{ form.csrf_token }}
    {{ form.next }}
    <div class="pure-control-group">
      {{ form.name.label('Name')  }} {{ form.name(size=32,placeholder='Username') }}
    </div>
    <div class="pure-control-group">
      {{ form.password.label('Password') }} {{ form.password(size=32,placeholder='Password') }}
    </div>
    <input type="submit" class="pure-button pure-button-primary" value="Signup">
</form>

{% endblock %}
