{% block content %}

<h2>This Week</h2>

<table>
  <thead>
    {% for d in days %}
    <th>
      {{ d | capitalize }}
    </th>
    {% endfor %}
  </thead>
  <tbody>
      <tr>
      {% for d in week_view %}
        <td>
          <ul>
          {% for recipe in d['recipes'] %}
            <li>{{ recipe }}</li>
          {% endfor %}
          </ul>
        </td>
      {% endfor %}
      </tr>
      <tr>
      {% for d in week_view %}
        <td>
          {% if d['ingredients'] %}
          <p>Ingredients</p>
          <ul>
          {% for ingredient in d['ingredients'] %}
            <li>{{ ingredient }}</li>
          {% endfor %}
          </ul>
          {% endif %}
        </td>
      {% endfor %}
      </tr>
  </tbody>
</table>

{% endblock %}
